.address-form_content {
  font-size: 1rem;
  width: 100%;
  background-color: var(--white);
  overflow-y: scroll;

  * {
    margin-bottom: 1em;
  }

  form {
    width: 100%;
  }

  .form_main {
    width: 50%;
    justify-content: space-between;

    .personal-info,
    .address-info {
      padding: 0.5em;
      align-items: flex-start;
      width: 100%;

      label {
        margin-bottom: 0.2em;
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 3%;
        border-radius: 5px;
        border: solid 1px #e4e8ee;
        background-color: var(--white);
      }
    }

    .personal-info {
      margin-right: 1em;
    }
  }

  .form_footer {
    width: 50%;
    justify-content: flex-end;
    margin-bottom: 0;
    * {
      margin-bottom: 0;
    }

    .default-address_check {
      width: 50%;
      justify-content: flex-start;
      margin-right: auto;

      input[type="checkbox"] {
        width: 1.5em;
        height: 1.5em;
        border-radius: 3px;
        border: solid 1px;
        margin-right: 3%;
        color: var(--black);
      }
    }

    .save_btn {
      width: auto;
      margin-bottom: 0;
      font-size: 1rem;
    }

    .cancel_btn {
      width: auto;
      cursor: pointer;
      border: none;
      background: transparent;
      padding-left: 0.2em;
      font-size: 1rem;
    }
  }
}
