.cart-item {
  border: 1px solid var(--gainsboro);
  margin: 0 0 0.5em;
  padding: 1em;
  flex: 1 0 auto;
  justify-content: flex-start;
  align-items: stretch;

  @media (max-width: 768px) {
    width: 100%;
  }

  .cart-item__img {
    width: 15%;
    height: 15%;
    border: 1px solid var(--cool-grey);
    align-self: flex-start;
    margin: 0 2em 0 0;
  }

  .cart-item__main {
    align-items: stretch;
    width: 60%;
    margin-right: 5rem;
    justify-content: space-between;

    @media (max-width: 768px) {
      width: auto;
      margin-right: 2rem;
    }

    * {
      margin-bottom: 0.5em;
    }

    .cart-item__price {
      justify-content: flex-start;
      margin: 0;

      p {
        margin-right: 0.5em;
      }
    }

    .cart-item-quantity__div {
      // @media (max-width: 768px) {
      margin-bottom: 0;
      // }
      .cart-item__quantity {
        width: 30%;
        margin: 0;

        * {
          margin-bottom: 0;
          box-shadow: none;
        }

        @media (max-width: 560px) {
          width: 100%;
        }

        .counter-main {
          width: 100%;
        }

        .counter_button,
        .counter-value {
          margin: 0;
        }
      }
    }
  }

  .cart-item__sidebar {
    justify-content: space-between;

    .cart-item__removeBtn {
      cursor: pointer;
      background: transparent;
      border: none;
      font-size: 1.5rem;
      line-height: 0;
    }
  }
}
