.accordion-wrapper {
  max-width: 100%;
  * {
    margin-bottom: 0;
  }

  .accordion-list {
    list-style: none;
    // border-radius: 0.4rem;
    overflow: hidden;
    // box-shadow: 0 0 0.8rem 0.1rem rgba(darken(rgba(#000, 0.1), 20%), 0.06),
    //   0 20px 30px -10px rgba(darken(rgba(#000, 0.1), 20%), 0.2);
    cursor: pointer;
  }
}
