.header {
  height: auto;
  font-size: 1.3rem;
  line-height: 20px;
  color: #222;
  max-width: 100vw;

  @media (max-width: 768px) {
    max-width: 100vw;
    padding: 0.2em 0.5em 0;
  }
}

.header__main {
  // align-items: flex-end;
  justify-content: space-between;

  @media (max-width: 768px) {
    justify-content: unset;
    flex-direction: column;
  }

  .header-logo__img {
    width: 20%;
    margin: 0 0.5em;
    cursor: pointer;

    @media (max-width: 768px) {
      align-self: center;
      width: 50%;
      margin: 0;
    }
  }

  .header-middle__main {
    flex-grow: 1;
    margin-right: 0.5em;

    @media (max-width: 768px) {
      width: 100%;
      justify-content: space-between;
      padding: 0.5em 0 0 0;
      margin: 0;
    }
  }

  .header-user__actions {
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.navBar {
  justify-content: space-evenly;
  padding: 0.5em 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.navContainer {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  color: var(--white);
  background-color: var(--black);
}

.navWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
