.card {
  padding: 5px;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  max-height: 650px;
}

.card-image {
  width: 400px;
  height: 500px;
}

.product-name {
  font-size: 20px;
  padding: 15px 0 15px 0;
  width: 400px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 17px;
  display: flex;
  align-items: baseline;
}

.product-container {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.heart {
  cursor: pointer;
}
