.menuBtn{
  cursor: pointer;
  a{
    text-decoration: none;
    color: black;
  }

}

.menu{
  width: 500px;
  height: 500px;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;

}