.past-orders__main {
  font-size: 1rem;
  margin: 2em;

  hr{
      margin-bottom: 2em;
  }

  .past-orders__content {
      border: 1px solid;
      padding: 1em;
      margin-bottom: 2em;

    .past-orders__date{
        margin: 1em 0;
    }
  }
}
