.product-details-main {
  width: 40%;
  padding: 0 1em;
  align-items: flex-start;

  *{
      margin-bottom: 1em;
  }

  .product-details-heading {
    width: 100%;
    justify-content: space-between;
    
    *{
      margin: 0;
    }
  }

  .product-details-color-title {
    font-weight: bold;
  }

  .addCartBtn {
    align-items: flex-end;

    svg {
      width: 1.5em;
      height: 1.5em;
      margin: 0 0.5em 0 0;
    }

    h4{
      margin: 0;
    }

  }
}
