.searchBody {
  // background-color: aquamarine;
}

.searchLable {
  color: rgb(34, 34, 34);
  cursor: pointer;
  display: none;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 24px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

.filterBar {
  display: flex;
  // align-items: flex-end;
}
// .constFilterPadding{
//   padding-right: 10px;
// }

.btn {
  cursor: pointer;
}

.xlBtn {
  font-size: x-large;
}
.lBtn {
  font-size: larger;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
}

.button-class {
  color: #000;
  background-color: white;
  width: 100px;
  height: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.pagination-text {
  padding: "30px";
  font-size: 20;
}
