@import url("https://fonts.googleapis.com/css2?family=Harmattan&family=Nunito:wght@200&display=swap");

/*
=============== 
Fonts
===============
*/
@font-face {
  font-family: "BreamCatcher";
  src: url("assets/fonts/BreamCatcher/breamcatcher.ttf");
}
@font-face {
  font-family: "GothamBook";
  src: url("assets/fonts/Gotham/GothamBook.ttf");
}
@font-face {
  font-family: "GothamMedium";
  src: url("assets/fonts/Gotham/GothamMedium.ttf");
}

@font-face {
  font-family: "Electrolize";
  src: url("assets/fonts/Electrolize/Electrolize-Regular.ttf");
}

/*
=============== 
Variables
===============
*/
:root {
  --ff-primary: "Electrolize";
  --ff-secondary: "GothamBook";
  --ff-tertiary: "GothamMedium";
  --white: #ffffff;
  --black: #000000;
  --light-red: #ff5155;
  --cool-grey: #97a4a7;
  --cool-grey-two: #97a5a7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-tertiary), "Harmattan", sans-serif;
  padding: 30px;
  font-size: 10px;
}
