.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-underline {
  text-decoration: none;
  color: var(--black);

  &:hover {
    text-decoration: underline;
  }
}

.blackBg-whiteFg-btn {
  background-color: var(--black);
  color: var(--white);
  box-shadow: 5px 10px 5px -6px #777;
  cursor: pointer;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.2em;
}

.error_div {
  font-size: 1rem;
  color: var(--light-red);
}

.full-width {
  width: 100%;
}
