.counter-main {
  border: 1px solid var(--black);

  * {
    margin: 0;
  }

  .counter-value {
    flex: 1 15em;
    text-align: center;
    font-weight: bold;
  }
  .counter_button {
    font-size: 1.2em;
    border: none;
    flex: 1 10em;

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: var(--grey);
      color: var(--black);
      box-shadow: none;
      border-right: 1px solid var(--black);
      cursor: not-allowed;
    }
  }
}
